.moul {
    font-family: "Moul", serif;
    font-weight: 400;
    font-style: normal;
}

.battambang-bold {
    font-family: "Battambang", system-ui;
    font-weight: 600;
    font-style: normal;
}
.battambang {
    font-family: "Battambang", system-ui;
    font-style: normal;
}
